<!DOCTYPE html>
<html>
    <head>
	{% block head %}
        	<meta charset="UTF-8">
    	    	<title>{% block title %}Car34 - Repair service{% endblock %}</title>
   	     	{% block stylesheets %}{% endblock %}
	{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
	    {% block footer %} &copy; Copyright 2018 by <a href="http://aurimasrimkus.eu">me</a>. {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
