{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
        <h1>Car34 - Password change</h1>
        <form action = "changePassword.php" method = "post">
            Password
            <input type = "password" name = "pass"><br /><br />
            Repeat password
            <input type = "password" name = "repeatPass"><br /><br />
            <input type = "submit" value = "Change password"><br /><br />
    </div>
{% endblock %}
