{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id = "menu">
<h1>Car34 - Login</h1> 
<form action = "login.php" method = "post">
Username
<input type = "text"><br /><br />
Password
<input type = "password"><br /><br />
<input type = "submit" value = "Login"><br /><br />
<a href = "{{ path('register') }}">Don't have an account? Register</a><br />
<a href = "{{ path('remindPassword') }}">Forgot your password? Let us remind it</a>
</div>
{% endblock %}
