{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "menu">
    <h1>Car34 - Remind password</h1>
        {% if error %}
            <div>{{ error }}</div><br />
        {% endif %}
    {{ form(form, {'method': 'POST'}) }}
    <a href = "{{ path('login') }}">Back to login page</a>
    </div>
{% endblock %}
