{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id = "textField">
    <h1>Car34 - Terms Of Service</h1>
    1. Ye shalt not hack this syztem and use it how it is supposed to be used<br />
    2. See the first one<br />
    3. See the second one<br />
    4. Use this system at your own risk. We are not responsible for what could happen while using the system. Basically, if you get a heart attack because you see the invoice in the system, we're not responsible for that, sorry.<br />

    <a href="{{ path('index') }}">{{ 'Back to menu page' }}</a>

</div>
{% endblock %}
